* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: "Lato", "Helvetica", "Arial";
    font-size: 12px;
    font-weight: 600;
    background: white;
}
/*Empieza estilo del label gris superior*/
.label1{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: rgb(35, 35, 51);
    padding: 15px 5%;
}
.label1 ul li a{
    text-decoration: none;
    color: white;
}
/*Termina estilo del label gris superior*/
/*Empieza estilo del header*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    border-bottom-style: solid;
    border-color: rgb(163, 163, 163);
    border-width: 1px;
}
.head-left{
    display: flex;
    align-items: center;
}
.head-left ul{
    display: inline-block;
}
/*Tamaño de imagen*/
.logo{
    cursor: pointer;
    /* margin-right: auto; */
    width: 120px;
    float: left;
    padding: 0px 10px;
}
.extra__links{
    list-style: none;
}
.extra__links li{
    display: inline-block;
    padding: 0px 10px;
}
.nav__links1{
    list-style: none;
}
.nav__links2{
    list-style: none;
    padding: 0px 10px;
}
.nav__links1 li{
    display: inline-block;
    padding: 0px 10px;
}
.nav__links2 li{
    display: inline-block;
    padding: 0px 10px;
}
.nav__links1 li a{
    text-decoration: none;
    color: grey;
}
.nav__links2 li a{
    text-decoration: none;
    color: rgb(0, 110, 255);
}
.nav__links1 li a:hover{
    color: rgb(0, 110, 255);
}
button{
    margin-left: 5px;
    padding: 8px 17px;
    background-color: rgb(252, 114, 34);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgb(214, 79, 0);
}
/*Termina estilo del header*/
/*Empieza estilo del main*/
main{
    display: flex;
    height: 700px; /*Altura del main*/
    justify-content: center;
    align-items: center;
}
/*Termina estilo del main*/
/*Empieza estilo card*/
.card{
    background-color: #dae0e9;
    box-shadow: 0 0 0.9375em rgba(0, 0, 0, 0.219);
    width: 1000px;
    height: 600px;
    border-radius: 10px;
    display: flex;
}
/*Empieza estilo card izquierda*/
.card-left{
    display: flex;
    flex: 0 0 50%;
    position: relative;
    align-items: center;
}
.card-img{
    display: block;
    width: 100%;
}
.left-text{
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-20%, -50%);
    margin-top: 50px;
}
.ingresar{
    text-align: center;
    font-weight: normal;
    font-size: 36px;
    color: #595959;
}
.bienvenido{
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    color: #595959; 
    margin-top: 20px;
    margin-bottom: 211px;
}
.nuevo{
    text-align: center;
    font-weight: normal;
    text-decoration: none;
    font-size: 18px;
    color: #595959;
}
.nuevo a{
    text-decoration: none;
    color: #595959;
}
.nuevo a:hover{
    text-decoration: underline;
}
/*Termina estilo card izquierda*/
/*Empieza estilo card derecha*/
/*Estilos a las entradas de texto*/
.controls {
    width: 100%;
    border: 1px solid grey;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: white;
    font-size: 14px;
}
/*Estilos al botón del botón enviar*/
.button2 {
    width: 100%;
    height: 40px;
    background: rgb(0, 110, 255);
    color: white;
    border-radius: 8px;
    margin-bottom: 16px;
}
.card-right{
    flex:1;
    padding: 70px 70px;
    background-color: white;
}
.card-right h3 {
    color: grey;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 10px;
}
/*Estilos al texto "¿Olvidó su contraseña?"*/
.card-right a {
    color: rgb(0, 110, 255);
    text-decoration: none;
    font-size: 14px;
}
.card-right a:hover {
    text-decoration: underline;
}
h4{
    text-align: center;
    color: grey;
    font-weight: normal;
    margin-top: 50px;
    margin-bottom: 20px;

}
.space-c{
    padding-left: 120px;
}
.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-media{
    margin-bottom: 20px; 
}
.social-media li{
    list-style: none;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-radius: 30%;
    border-width: 1px;
    border-color: #b9b8b8;
    margin: 0 20px;
    cursor: pointer;
    margin-bottom: 10px;
}
.social-media li:hover{
    background: #b9b8b8;
    font-weight: bold; /*CHECAR*/
}
.social-media li:hover ~ .media-title{
    color: black; /*CHECAR*/
}
.social-media li img{
    cursor: pointer;
    width: 35px;
    padding: 8px;
}
.media-title{
    text-align: center ;
}
/*Termina estilo card derecha*/
/*Empieza estilo footer*/
footer{
    background: rgb(35, 35, 51);
}
.footer-card{
    display: flex;
    justify-content: center;
}
.footer-card ul{
    list-style-type: none;
    margin: 25px 35px;
    width: 160px;
}
.f-list li a{
    text-decoration: none;
    color: white;
}
.f-list li a:hover{
    text-decoration: underline;
}
.list-title{
    margin-bottom: 10px;
}


.social-media2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-media2{
    margin-bottom: 20px; 
}
.social-media2 li{
    list-style: none;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    border-radius: 50%;
    border-width: 1px;
    border-color: #b9b8b8;
    margin: 0 2px;
    cursor: pointer;
    margin-bottom: 10px;
}
.social-media2 li img{
    cursor: pointer;
    width: 30px;
}
.Wordpress li:hover{
    background: #1e6bfa;
}
.Linkedin li:hover{
    background: #2772ff;
}
.Twitter li:hover{
    background: #2490e9;
}
.Youtube li:hover{
    background: #cf2121;
}
.Facebook li:hover{
    background: #011b3a;
}
.Instagram li:hover{
    background: #033A7D;
}


.f-low{
    display: flex;
    justify-content: center;
}
.f-low li{
    display: inline-block;
    padding: 0px 5px;
    font-size: 10px;
    color: white;
    margin-bottom: 100px;
}
.f-low li a{
    text-decoration: none;
    color: white;
}
.f-low li a:hover{
    text-decoration: underline;
}
/*Termina estilo footer*/